<div
  class="page"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  [infiniteScrollUpDistance]="1.5"
  [scrollWindow]="false"
  (scrolled)="loadMoreEpisodes()"
>
  <div
    style.background-color="#{{ (podcast$|async)?.palette[0] }}36"
    class="header"
  >
    <mat-card
      class="podcast__image"
      style.background-color="#{{ (podcast$|async)?.palette[4] }}66"
    >
      <img id="podcast__image" src="{{ (podcast$ |async)?.image }}" alt="" />
    </mat-card>
    <div class="podcast__data">
      <div class="metadata">
        <div class="headings">
          <h2 style.color="#{{ (podcast$ | async)?.palette[4] }}">
            {{ (podcast$|async)?.title }}
          </h2>
          <h3 style.color="#{{ (podcast$ | async)?.palette[2] }}">
            {{ (podcast$|async)?.publisher }}
          </h3>
          <div class="sound__bars">
            <div id="bars">
              <div
                style.background-color="#{{ (podcast$|async)?.palette[0] }}"
                [ngClass]="{'animate': podcastPlaying()}"
                class="bar"
              ></div>
              <div
                style.background-color="#{{ (podcast$|async)?.palette[2] }}"
                [ngClass]="{'animate': podcastPlaying()}"
                class="bar animate"
              ></div>
              <div
                style.background-color="#{{ (podcast$|async)?.palette[3] }}"
                [ngClass]="{'animate': podcastPlaying()}"
                class="bar"
              ></div>
              <div
                style.background-color="#{{ (podcast$|async)?.palette[5] }}"
                [ngClass]="{'animate': podcastPlaying()}"
                class="bar"
              ></div>
              <div
                style.background-color="#{{ (podcast$|async)?.palette[1] }}"
                [ngClass]="{'animate': podcastPlaying()}"
                class="bar"
              ></div>
            </div>
          </div>
          <div class="action__buttons">
            <ng-container *ngIf="!(subscribed$|async); else subscribedTemplate">
              <button
                [ngStyle]="{'color': 'var(--button-primary)'}"
                mat-raised-button
                (click)="subscribe()"
                aria-label="subscribe"
              >
                Subscribe
              </button>
            </ng-container>
            <ng-template #subscribedTemplate>
              <button
                class="unsubscribe"
                [ngStyle]="{'color': 'var(--button-primary)'}"
                mat-raised-button
                (click)="unsubscribe()"
                aria-label="unsubscribe"
                style.background-color="#{{ (podcast$|async)?.palette[1] }}66"
              >
                Subscribed{{" "}}<svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"
                  />
                </svg>
              </button>
            </ng-template>

            <ng-container *ngIf="!(liked$|async); else likedTemplate">
              <button
                (click)="like()"
                mat-icon-button
                [ngStyle]="{'color': 'var(--gray-like)'}"
                aria-label="Like this podcast"
              >
                <mat-icon>favorite</mat-icon>
              </button>
            </ng-container>
            <ng-template #likedTemplate>
              <button
                (click)="unlike()"
                mat-icon-button
                [ngStyle]="{'color': 'var(--pink-like)'}"
                aria-label="Like this podcast"
              >
                <mat-icon>favorite</mat-icon>
              </button>
            </ng-template>
          </div>
        </div>
        <div class="description">
          <p [innerHTML]="(podcast$ | async)?.description"></p>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div
      class="single__episode"
      *ngFor="let episode of (podcast$ |async).episodes, let i = index"
    >
      <div class="episode__body">
        <div class="episode__details">
          <div class="play">
            <button mat-icon-button color="primary" aria-label="play">
              <mat-icon
                (click)="play(episode)"
                style.color="#{{(podcast$|async)?.palette[4]}}"
                >{{amPlaying(episode)}}</mat-icon
              >
            </button>
          </div>
          <div class="episode__metadata">
            <h3>{{episode.title}}</h3>
            <p>
              {{episode.datePublished | date}} | {{ episode.duration | time}}
            </p>
          </div>
        </div>

        <div class="episode__options">
          <button mat-icon-button aria-label="add to a playlist">
            <mat-icon>playlist_add</mat-icon>
          </button>

          <ng-container
            *ngIf="!(checkLikedEpisode(episode.slug)|async); else unlikeEpisodeTemplate"
          >
            <button
              (click)="likeEpisode(episode.slug)"
              mat-icon-button
              [ngStyle]="{'color': 'var(--gray-like-muted)'}"
              aria-label="like episode"
            >
              <mat-icon>favorite</mat-icon>
            </button>
          </ng-container>
          <ng-template #unlikeEpisodeTemplate>
            <button
              (click)="unlikeEpisode(episode.slug)"
              mat-icon-button
              [ngStyle]="{'color': 'var(--pink-like-muted)'}"
              aria-label="like episode"
            >
              <mat-icon>favorite</mat-icon>
            </button>
          </ng-template>

          <ng-container
            *ngIf="!(checkBookmarkedEpisode(episode.slug)|async); else bookmarkedEpisode"
          >
            <button
              mat-icon-button
              (click)="bookmarkEpisode(episode.slug)"
              aria-label="bookmark episode"
              [ngStyle]="{'color': 'var(--gray-like)'}"
            >
              <mat-icon>bookmark</mat-icon>
            </button>
          </ng-container>
          <ng-template #bookmarkedEpisode>
            <button
              mat-icon-button
              (click)="unbookmarkEpisode(episode.slug)"
              aria-label="bookmark episode"
              [ngStyle]="{'color': 'var(--bookmarked)'}"
            >
              <mat-icon>bookmark</mat-icon>
            </button>
          </ng-template>

          <button
            (click)="expand($event, episode.slug)"
            mat-icon-button
            aria-label="expand episode for description"
          >
            <mat-icon>{{state(episode.slug)}}</mat-icon>
          </button>
        </div>
      </div>
      <div
        style.background-color="#{{ (podcast$|async)?.palette[0] }}26"
        class="expanded__episode__content {{episode.slug}}"
        #element
      >
        <div class="more__stuff">
          <h3>Show Notes:</h3>
          <p [innerHTML]="episode.description"></p>
        </div>
      </div>
      <mat-divider
        *ngIf="i<(podcast$ |async).episodes.length-1"
        style.color="#{{(podcast$|async)?.palette[4]}}"
      ></mat-divider>
    </div>
  </div>
</div>
