<div
  class="page"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  [infiniteScrollUpDistance]="1.5"
  [scrollWindow]="false"
  (scrolled)="loadMoreEpisodes()"
>
  <div
    style.background-color="#{{ (podcast$|async)?.palette[0] }}36"
    class="header"
  >
    <mat-card
      class="podcast__image"
      style.background-color="#{{ (podcast$|async)?.palette[4] }}66"
    >
      <img id="podcast__image" src="{{ (podcast$ |async)?.image }}" alt="" />
    </mat-card>
    <div class="podcast__data">
      <div class="metadata">
        <div class="headings">
          <h2 style.color="#{{ (podcast$ | async)?.palette[4] }}">
            {{ (podcast$|async)?.title }}
          </h2>
          <h3 style.color="#{{ (podcast$ | async)?.palette[2] }}">
            {{ (podcast$|async)?.publisher }}
          </h3>
        </div>
        <div class="description">
          <p>{{ (podcast$ | async)?.description }}</p>
        </div>
      </div>

      <div class="container">
        <button
          class="play"
          mat-icon-button
          color="primary"
          aria-label="play"
          disabled
        >
          <mat-icon style.color="#{{ (podcast$|async)?.palette[3] }}"
            >{{podcastPlaying()}}</mat-icon
          >
        </button>
        <span class="action__buttons">
          <button
            [ngStyle]="{'color': 'var(--button-primary)'}"
            mat-raised-button
          >
            Subscribe{{" "}}
          </button>
          <button
            mat-icon-button
            [ngStyle]="{'color': 'var(--gray-like)'}"
            aria-label="Like this podcast"
          >
            <mat-icon>favorite</mat-icon>
          </button>
        </span>
      </div>
    </div>
  </div>

  <div class="content">
    <div
      class="single__episode"
      *ngFor="let episode of episodes, let i = index"
    >
      <div class="play">
        <button
          mat-icon-button
          color="primary"
          aria-label="Example icon button with a home icon"
        >
          <mat-icon
            (click)="play(episode)"
            style.color="#{{(podcast$|async)?.palette[4]}}"
            >{{amPlaying(episode)}}</mat-icon
          >
        </button>
      </div>
      <div class="episode__details">
        <h3>{{episode.title}}</h3>
        <p>{{episode.datePublished | date}} | {{ episode.duration | time}}</p>
      </div>
      <mat-divider
        style.color="#{{(podcast$|async)?.palette[4]}}"
      ></mat-divider>
    </div>
  </div>
</div>
