div.page {
  overflow: scroll;
  height: 100%;
  overflow-x: hidden;
}
div.header {
  display: flex;
  // height: 50%;
  padding: 2.5%;

  mat-card.podcast__image {
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
    }
  }
  div.podcast__data {
    width: 75%;
    margin-left: 2.5%;
    div.metadata {
      height: 80%;
      display: flex;
      flex-direction: row;

      div.headings {
        width: 30%;
        display: inline-flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
      }
      div.description {
        width: 70%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        p {
          font-size: 16pt;
          padding-top: 2%;
        }
      }
    }

    div.container {
      height: 20%;
      height: fit-content;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      button.play {
        mat-icon {
          font-size: 30pt;
        }
      }
      span.action__buttons {
        width: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: fit-content;
      }
    }
  }
}
div.content {
  padding-top: 1.5%;

  div.single__episode {
    div.play {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 5%;
      height: 100%;
    }
    div.episode__details {
      display: inline-flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      width: 95%;
      h3 {
        font-weight: 600;
      }
    }
    padding: 1% 2.5% 1% 2.5%;
  }
}
