p{
    font-family: mr-eaves-sans,sans-serif;
    font-weight: 400;
    font-style: normal;
}

div.content{
    display: flex;
    height: 100%;
    overflow: scroll;
    flex-direction: row;
    flex-wrap: wrap;
    div.podcast{
        width: 18%;
        margin: 1%;
        img{
            width: 100%;
        }
        h2{
            font-family: highgate, sans-serif;
            font-weight: 400;
            font-style: normal;
        }
    }
}