@font-face {
    font-family: "Sailec Light";
    src: url("../assets/fonts/Sailec\ Light/Sailec\ Light.ttf");
}
@font-face {
    font-family: "Sailec Medium";
    src: url("../assets/fonts/Sailec\ Medium/Sailec\ Medium.ttf");
}

@font-face {
    font-family: "Sailec Bold";
    src: url("../assets/fonts/Sailec\ Bold/Sailec\ Bold.ttf");
}
@font-face {
    font-family: "Sailec Thin";
    src: url("../assets/fonts/Sailec\ Thin/Sailec\ Thin.ttf");
}

@font-face {
    font-family: "Sailec Regular Italic";
    src: url("../assets/fonts/Sailec\ Regular\ Italic/Sailec\ Regular\ Italic.ttf");
}