:root {
  --background-primary: #3b3355;
  --background-medium-gray: #e3eaf2;
  --background-light: #fefcfd;

  --button-primary: #686180;

  --text-light: #bfcde0;
  --gray-like: #647177;
  --pink-like: #f06c9b;
  --gray-like-muted: #647177;
  --pink-like-muted: #ed317c;
  --bookmarked: #8f3985;
}
