:root {
  --background-primary: #3b3355;
  --background-medium-gray: #e3eaf2;
  --background-light: #fefcfd;

  --button-primary: #686180;

  --text-light: #bfcde0;
  --gray-like: #948392;
  --pink-like: #f24236;
}
