<mat-toolbar>
  
     <button mat-mini-fab aria-label="Menu toggle button"
     (click)="drawer.toggle()"
     >
    	<mat-icon>menu</mat-icon>
  </button>
  <div class="eycho"><h1>Eycho</h1></div>
</mat-toolbar>
<mat-drawer-container [ngStyle]="{height: somethingPlaying?'84vh':'93vh'}" class="example-container">
  <mat-drawer  #drawer mode="side" opened>
    <nav>
    <div class="menu__item">
          <button mat-button (click)="navigate('')">

              <span *ngIf="getWindowWidth()>1200" >Home </span>

            <mat-icon *ngIf="getWindowWidth()<1200" >home</mat-icon>
          </button>
          
        </div>
        <div class="menu__item">
          <button mat-button (click)="navigate('search')">
              <span *ngIf="getWindowWidth()>1200" >Search</span>

            <mat-icon >search</mat-icon>
          </button>
          
        </div>

        <div class="menu__item">
          <button mat-button (click)="navigate('discover')">
            
            <span *ngIf="getWindowWidth()>1200" >Discover</span>

              <mat-icon *ngIf="getWindowWidth()<1200" >explore</mat-icon>
          </button>
          
        </div>

        <div class="menu__item">
          <button mat-button (click)="navigate('library')">
            <span *ngIf="getWindowWidth()>1200">Library </span>
            <mat-icon *ngIf="getWindowWidth()<1200" >library_music</mat-icon>
          </button>
          
        </div>
    </nav>
    
  </mat-drawer>
  <mat-drawer-content>
 
    <router-outlet></router-outlet>


  
  </mat-drawer-content>
</mat-drawer-container>
<app-player></app-player>