<mat-toolbar>
  <button
    mat-mini-fab
    aria-label="Menu toggle button"
    (click)="drawer.toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <div class="eycho"><h1>Eycho</h1></div>
  <span class="spacer"></span>
  <button mat-mini-fab aria-label="User Icon" (click)="signIn()">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
<mat-drawer-container
  [ngStyle]="{height: player.active?'84vh':'93vh'}"
  class="example-container"
>
  <mat-drawer #drawer mode="side" opened>
    <div class="menu__item">
      <button mat-button (click)="navigate('')">
        {{getWindowWidth()>1200?'Home':''}}

        <mat-icon>home</mat-icon>
      </button>
    </div>
    <div class="menu__item">
      <button mat-button (click)="navigate('search')">
        {{getWindowWidth()>1200?'Search':''}}

        <mat-icon>search</mat-icon>
      </button>
    </div>

    <div class="menu__item">
      <button mat-button (click)="navigate('discover')">
        {{getWindowWidth()>1200?'Discover':''}}

        <mat-icon>explore</mat-icon>
      </button>
    </div>

    <div class="menu__item">
      <button mat-button (click)="navigate('library')">
        {{getWindowWidth()>1200?'Library':''}}
        <mat-icon>library_books</mat-icon>
      </button>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
<app-player></app-player>
