mat-toolbar {
    height: 7vh;
    background-color: var(--background-primary);
    div.fourthwave {
        margin: 0 1% 0 1%;
    }
    h1 {
        font-family: bd-geminis, sans-serif;
        font-weight: 400;
        font-style: normal;
        color: var(--text-light);
    }
    span.spacer {
        flex: 1 1 auto;
    }
}
::ng-deep {
    .mat-drawer-inner-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

mat-drawer-container {
    height: 84vh;
    margin: 0;
    padding: 0;
    mat-drawer {
        height: 100%;
        &.collapsed {
            width: 70px;
        }
        &:not(.collapsed) {
            width: 150px;
        }
        transition: width 0.2s;
        background-color: var(--background-medium-light);
        display: flex;
        align-content: space-between;
        div.menu__item {
            font-family: highgate, sans-serif;
            font-weight: 400;
            font-style: normal;
            // height: 5vh;
            width: 100%;
            text-align: center;
            display: flex;
            span {
                font-family: 'Sailec Medium';
            }
            ::ng-deep {
                .mat-button {
                    height: 40px;
                    display: flex;
                    width: 100%;
                    justify-content: flex-start;
                    align-items: center;
                    .mat-button-wrapper {
                        display: flex;
                        align-content: stretch;
                        justify-content: flex-start;
                        align-items: center;
                        width: 100%;
                        mat-icon {
                            padding: 0 10px;
                        }
                    }
                    flex-direction: row;
                    color: var(--button-primary);
                }
            }
            padding: 10px 0;
        }
        div.spacer {
            display: flex;
            flex-grow: 1;
        }
    }
    ::ng-deep {
        mat-drawer-content.mat-drawer-content {
            &.collapsed {
                margin-left: 70px !important;
            }
            &:not(.collapsed) {
                margin-left: 150px !important;
            }
            transition: margin 0.2s;
            background-color: var(--background-light);
            height: 100%;
            overflow: hidden;
        }
    }
}
app-player {
    height: 9vh;
    // position: fixed;
    // bottom: 0;
}
