<div *ngIf="mini$ | async" class="box" cdkDrag>
  <div class="audio__info">
    <div class="deets">
      <div class="image">
        <img
          src="{{(queue$|async)[0]?.episode?.image}}"
          alt="{{(queue$|async).length<=0?'':(queue$|async)[0].episode?.title}}"
        />
      </div>
      <div class="time">
        <span>
          {{player.currentTime | time}}
        </span>
        <mat-divider></mat-divider>
        <span>
          {{player.totalDuration | time}}
        </span>
      </div>
    </div>

    <div class="title">
      <h3>{{(queue$|async).length<=0?'':(queue$|async)[0].episode?.title}}</h3>
    </div>

    <div class="controls">
      <button (click)="toggleMini()" mat-icon-button>
        <mat-icon>fullscreen</mat-icon>
      </button>

      <button
        class="play"
        mat-mini-fab
        mat-icon-button
        (click)="playPause()"
        color="warn"
        aria-label="play pause button"
      >
        <mat-icon>{{getMiniPlayingIcon()}}</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>minimize</mat-icon>
      </button>
    </div>
  </div>

  <div class="handle" cdkDragHandle>
    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
      <path
        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
      ></path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>
</div>

<div
  *ngIf="!(mini$ | async)"
  [style.visibility]="!!(queue$|async)?'visible':'hidden'"
  class="player"
>
  <div class="audio__info">
    <div class="image">
      <img
        src="{{!!(queue$|async)?(queue$|async)[0]?.episode?.image:''}}"
        alt="{{(queue$|async).length<=0?'':(queue$|async)[0].episode?.title}}"
      />
    </div>
    <div class="title">
      <h3>{{(queue$|async).length<=0?'':(queue$|async)[0].episode?.title}}</h3>
    </div>
  </div>

  <div class="controls">
    <div class="control__actions">
      <button mat-icon-button color="primary" aria-label="previous">
        <mat-icon>skip_previous</mat-icon>
      </button>
      <button mat-icon-button color="accent" aria-label="Rewind">
        <mat-icon>replay_30</mat-icon>
      </button>
      <button
        mat-icon-button
        (click)="playPause()"
        color="warn"
        aria-label="play pause button"
      >
        <mat-icon>{{getMainPlayingIcon()}}</mat-icon>
      </button>
      <button mat-icon-button color="accent" aria-label="Rewind">
        <mat-icon>forward_30</mat-icon>
      </button>
      <button mat-icon-button aria-label="Next">
        <mat-icon>skip_next</mat-icon>
      </button>
    </div>
    <div class="slider">
      <div class="duration">
        <span>
          {{player.currentTime | time}}
        </span>
      </div>
      <mat-slider
        [min]="0"
        [max]="1"
        [step]="0.001"
        [tickInterval]="player.seekTrack()"
        [(ngModel)]="player.trackProgress"
        color="primary"
        #trackSlider
        aria-label="audio slider"
        (change)="player.seek($event)"
      >
      </mat-slider>
      <div class="duration">
        <span>
          {{player.totalDuration | time}}
        </span>
      </div>
    </div>
  </div>
  <div class="options">
    <button mat-icon-button aria-label="Rewind">
      <mat-icon>playlist_play</mat-icon>
    </button>

    <div class="volume__slider">
      <mat-icon>{{getVolumeIcon()}}</mat-icon>
      <mat-slider
        #volumeSlider
        [max]="1"
        [min]="0"
        [step]="0.001"
        (change)="player.changeVol($event)"
        color="primary"
        value="{{player.volume}}"
        aria-label="volume slider"
      ></mat-slider>
    </div>
    <button
      (click)="toggleMini()"
      mat-icon-button
      aria-label="Picture in picture"
    >
      <mat-icon>picture_in_picture</mat-icon>
    </button>
  </div>
</div>
