<div class="page">
  <div
    *ngFor="let podcast of (content$| async).trending | slice:0:1"
    class="trending"
    style.background-color="#{{podcast.palette[0]}}36"
    style.background="linear-gradient(-45deg, #{{podcast.palette[0]}}66, #{{podcast.palette[1]}}66, #{{podcast.palette[2]}}66)"
  >
    <div class="details">
      <h2 style.color="#{{podcast.palette[4]}}">
        Trending
      </h2>
      <h1 style.color="#{{podcast.palette[0]}}BF">
        {{podcast.title}}
      </h1>
      <mat-chip-list aria-label="Trending play button">
        <mat-chip
          (click)="goToFeatured(podcast)"
          style.background-color="#{{podcast.palette[1]}}66"
          style.margin="1%"
          >Listen</mat-chip
        >
      </mat-chip-list>
    </div>
    <div class="description">
      <p [innerHTML]="podcast.description | wordcount"></p>
    </div>
    <!-- <span class="spacer"></span> -->

    <div class="cover">
      <img src="{{podcast.image}}" alt="" />
    </div>
  </div>
  <div class="featured">
    <div
      class="go__left"
      [ngStyle]="{'visibility': !show(false)?'visible':'hidden'}"
    >
      <svg
        (click)="scrollThrough('left')"
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5"
        viewBox="0 0 20 20"
      >
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm.707-10.293a1 1 0 00-1.414-1.414l-3 3a1 1 0 000 1.414l3 3a1 1 0 001.414-1.414L9.414 11H13a1 1 0 100-2H9.414l1.293-1.293z"
          clip-rule="evenodd"
        />
      </svg>
    </div>
    <h2>Featured</h2>
    <div class="featured__list">
      <div class="podcast" *ngFor="let pod of (content$| async).featured">
        <a
          [routerLink]="['/podcast', pod.slug]"
          routerLinkActive="active"
          [state]="pod"
        >
          <img src="{{pod.image}}" alt="{{pod.title}}" />
        </a>
        <!-- <div class="title">
          <h2>{{pod.title}}</h2>
        </div> -->
      </div>
    </div>
    <div class="go__right">
      <svg
        (click)="scrollThrough('right')"
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5"
        viewBox="0 0 20 20"
        fill="black"
        [ngStyle]="{'visibility': show(true)?'visible':'hidden'}"
      >
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 1.414L10.586 9H7a1 1 0 100 2h3.586l-1.293 1.293a1 1 0 101.414 1.414l3-3a1 1 0 000-1.414z"
          clip-rule="evenodd"
        />
      </svg>
    </div>
  </div>
  <div class="collections">
    <div class="genres">
      <div class="header">
        <h2>Categories</h2>
        <span class="spacer"></span>
        <div class="more">
          <h3>
            See all {{" "}}
            <svg
              xmlns="http://www.w3.org/2000/svg"
              className="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                strokeLinecap="round"
                strokeLinejoin="round"
                strokeWidth="{2}"
                d="M14 5l7 7m0 0l-7 7m7-7H3"
              />
            </svg>
          </h3>
        </div>
      </div>

      <div class="genre__boxes">
        <div
          class="genre"
          *ngFor="let genre of (content$| async).genres.slice(0, 9); let i =index"
          style.background-color="#{{getColors()[i]}}66"
        >
          <p>{{genre}}</p>
        </div>
      </div>
    </div>
    <div class="top__podcasts">
      <h2>
        Top Podcasts
      </h2>
      <div class="podcast__list">
        <div
          class="podcast"
          *ngFor="let podcast of (content$| async).mostPopular; let i =index"
        >
          <a
            [routerLink]="['/podcast', podcast.slug]"
            routerLinkActive="active"
            [state]="podcast"
          >
            <span class="content">
              <h3 class="number">{{i+1}}.</h3>

              <img src="{{podcast.image}}" alt="" />
              <h3>{{podcast.title}}</h3>
            </span>
          </a>
          <mat-divider
            *ngIf="i+1!=(content$| async).mostPopular
.length"
          ></mat-divider>
        </div>
      </div>
    </div>
    <div class="top__episodes">
      <h2>
        Top Episodes
      </h2>
    </div>
  </div>
</div>

<!-- <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button (click)="changeView(2)" mat-menu-item>
      <mat-icon>list</mat-icon>
      <span>Compact list</span>
    </button>
    <button (click)="changeView(2)" mat-menu-item>
      <mat-icon>view_list</mat-icon>
      <span>List</span>
    </button>
    <button (click)="changeView(2)" mat-menu-item>
      <mat-icon>apps</mat-icon>
      <span>Tiled</span>
    </button>
  </mat-menu> -->

<!-- 
<div
  id="content"
  class="content"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  [infiniteScrollUpDistance]="1.5 "
  [scrollWindow]="false"
  (scrolled)="onScroll()"
>
  <div *ngFor="let podcast of podcasts" class="podcast">
    <a
      [routerLink]="['/podcast', podcast.slug]"
      routerLinkActive="active"
      [state]="podcast"
    >
      <img src="{{podcast.image}}" alt="" />
      <h2>{{podcast.title}}</h2>
    </a>
  </div>
</div> -->
