@import 'styles/palette.scss';
@import 'styles/fonts.scss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: highgate, sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  overflow: hidden; /* Hide scrollbars */
}
h1,
h2 {
  font-family: 'Sailec Medium' !important;
}
h2,
h3,
h4,
p {
  font-family: 'Sailec Light' !important;
  font-weight: 400;
  font-style: normal;
}

// Scroll Bar
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background-light);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5a5370;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #918aad;
}
::-webkit-scrollbar:horizontal {
  display: none;
}
