@import "styles/palette.scss";
@import "styles/fonts.scss";


html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: "Sailec Light";
  }
body {
  overflow: hidden; /* Hide scrollbars */
}
h1, h2{
     font-family: "Sailec Medium" !important;

}
h3, h4, h5, h6, p{
  font-family: "Sailec Light" !important;
}