@import 'styles/palette.scss';
@import 'styles/fonts.scss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: highgate, sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  overflow: hidden; /* Hide scrollbars */
}
h1,
h2 {
  font-family: 'Sailec Medium' !important;
}
h2,
h3,
h4,
p {
  font-family: 'Sailec Light' !important;
  font-weight: 400;
  font-style: normal;
}
